*.iml

/.gradle/

/.idea/caches
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/.name
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml

/.kotlin/
/app/build/
/core/build/
/build/
/local.properties